<div class="col-6 col-md-2 mb-3 px-3">
  <h5>Section</h5>
  <ul class="nav flex-column">
    <li class="nav-item mb-2">
      <a href="#" class="nav-link p-0 text-body-secondary">Home</a>
    </li>
    <li class="nav-item mb-2">
      <a href="#" class="nav-link p-0 text-body-secondary"
        >Features</a
      >
    </li>
    <li class="nav-item mb-2">
      <a href="#" class="nav-link p-0 text-body-secondary">Pricing</a>
    </li>
    <li class="nav-item mb-2">
      <a href="#" class="nav-link p-0 text-body-secondary">FAQs</a>
    </li>
    <li class="nav-item mb-2">
      <a href="#" class="nav-link p-0 text-body-secondary">About</a>
    </li>
  </ul>
</div>
